p.color1 {
  background-color: red;
  
}
p.color2 {
  background-color: blue;
}
p.color3 {
  background-color: yellow;
}
.opacity1 {
  opacity: 0.3;
}
.opacity2 {
  opacity: 0.6;
}
.opacity3 {
  opacity: 1;
}
